.AppContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addButton {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.photoWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photos {
  display: flex;
  justify-content: center;
}

.photoContainer {
  width: 200px;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
